<div class="header">
  <div class="container">
    <h1><%= @shelf.name %></h1>
  </div>
</div>

<div class="container">
  <% unless @shelf.books.nil? %>
    <% @shelf.books.each do |book| %>
      <div class="row">

        <div class="col-md-2 shelf">
          <%= link_to image_tag(book.cover), book_path(book) %>
        </div>

        <div class="col-md-7">
          <h4><%= book.title %></h4>
          <p><%= book.authors.first.name %></p>
          <% if book.ratings.exists?(user_id: @current_user.id) %>
            <p>Your rating: <%= book.ratings.find_by(:user_id => @current_user.id).score %> stars</p>
          <% end %>
          <%= button_to "Remove from Shelf",
          book_to_shelf_path(book.id, :shelf_id => @shelf.id), :class => 'btn btn-info',
          :method => 'delete' %>
        </div>
      </div>
      <hr>
    <% end %>
  <% end %>
