<h1><%= @user.name %></h1>

<% @user.shelves.each do |shelf| %>
  <div class="shelf">
    <p><%= shelf.name %></p>
    <% shelf.books.each do |book| %>
      <%= image_tag book.cover %>
    <% end %>
  </div>
<% end %>

<%= link_to "Edit Profile", edit_user_path(@user.id) %>

<%= link_to "Add New Shelf", new_shelf_path %>
