<div class="header">
  <div class="container">
    <h1>All Books</h1>
  </div>
</div>

<div class="container">
  <div class="filter">
    <h3>Filter books by genre:</h3>
    <%= link_to "Fiction", view_genre_path(:genres => 'Fiction') %> <span class="divider">|</span>
    <%= link_to "Non-Fiction", view_genre_path(:genres => 'Non-fiction') %> <span class="divider">|</span>
    <%= link_to "Action & Adventure", view_genre_path(:genres => 'Action and Adventure') %> <span class="divider">|</span>
    <%= link_to "Thriller", view_genre_path(:genres => 'Thriller') %> <span class="divider">|</span>
    <%= link_to "Science Fiction", view_genre_path(:genres => 'Science Fiction') %> <span class="divider">|</span>
    <%= link_to "Fantasy", view_genre_path(:genres => 'Fantasy') %> <span class="divider">|</span>
    <%= link_to "Young Adult", view_genre_path(:genres => 'Young Adult') %>
  </div>

  <hr>
  <!-- display all books -->
  <div class="row">
    <% @books.each do |book| %>
      <div class="card col-md-3 books">
        <a href="<%= book_path(book) %>">
        <%= image_tag(book.cover, :class => "card-img-top") %>
        <div class="card-body">
          <p class="card-title"><%= book.title %></p>
        </div>
        </a>
      </div>
    <% end %>
  </div>

  <hr>

  <div>
    <p>Can't find what you're looking for? Search for a book <%= link_to "here", books_search_path %></p>
  </div>
</div>
