<h1><%= @book.title %></h1>

<!-- display book info -->

<%= image_tag @book.cover, :class => 'feature' %>
<ul>
  <li>Author(s):
  <% @book.authors.each do |author| %>
    <%= link_to author.name, author_path(author.id) %>
  <% end %>
  </li>
  <li>Genres:</li>
    <ul>
      <% @book.genres.each do |genre| %>
        <li><%= genre.name %></li>
      <% end %>
    </ul>
  <% unless @book.synopsis.nil? %>
  <li>Synopsis: <%= @book.synopsis %></li>
  <% end %>
</ul>

<!-- link to add to shelf -->

<% if @current_user.present? %>
  <p>Add to Shelf:</p>
  <%= form_tag book_to_shelf_path(@book) do %>
    <%# <%= radio_button_tag @current_user.shelves.first.name, @current_user.shelves.first.name %>

    <%= collection_radio_buttons(:book, :shelf_ids, @current_user.shelves, :id, :name) %>

    <%= select_tag :shelf_id,
      options_for_select(
      [["Select a shelf", -1 ]] +
      @current_user.shelves.pluck(:name, :id)
      )%>
    <%= submit_tag "Add Book" %>
  <% end %>
<% end %>

<% if @current_user.present? && @current_user.admin? %>
  <%= button_to "Delete Book", @book, :method => 'delete' %>
<% end %>
